/* @import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Work+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--secondary-font);
  color: var(--color);
  scroll-behavior: smooth;
}
:root {
  --bg: #252a34;
  --bg-dark: #1d1d1d;
  --color: #eaeaea;
  --light-color: #eaeaeaa4;
  --primary-color: #08d9d6;
  --secondary-color: #ff2e63;
  --font: 'Crimson Text', serif;
  --secondary-font: 'Work Sans', sans-serif;
}
body {
  background: var(--bg);
  color: var(--color);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------- main section ---------- */
#main {
  width: 100%;
  /* height: 50em; */
    padding: 5em 0;
  backdrop-filter: blur(1px);
  backdrop-filter: contrast(250px);
  position: relative;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}
#main::before {
  content: "";
  width: 100%;
  height: 30em;
  position: absolute;
  right: 25em;
  z-index: -1;
  background: rgb(19, 19, 19);
}
#main .user_info {
  margin: 0 30px;
}
#main .user_info .user_name {
  font-family: var(--font);
  font-size: 5em;
}
#main p {
  font-family: var(--secondary-font);
  font-size: 1.5em;
  color: var(--light-color);
  margin-bottom: 1.5em;
}
#main .user_img img {
  width: 30em;
  height: 30em;
  border-radius: 50%;
  margin: 0 30px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.479);
}
#main .user_info .btn {
  padding: 0.6em 2em;
  background: none;
  color: var(--color);
  font-size: 1.1em;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid var(--secondary-color);
  transition: all 0.4s;
}
#main .user_info .btn:hover {
  background: var(--secondary-color);
}
#particles-js {
  width: 100%;
  position: absolute;
  z-index: -1;
}

/* ---------- about section ---------- */
.about {
  width: 100%;
  background: #1a1a1a;
  padding: 6em 0;
}
.about div{
  width: 40%;
  flex-direction: column;
  align-items: flex-start;
}
.about img{
  width: 25em;
  margin: 2em;
}
.about_heading {
  font-size: 6em;
  font-family: var(--font);
}
.about p {
  font-size: 1.4em;
  color: var(--color);
  opacity: 0.6;
}

/* ---------- skills section ---------- */
.skills {
  width: 100%;
  /* height: 50em; */
  margin: 2em 0;
  position: relative;
  flex-direction: column;
  overflow-x: hidden;
}
.skills::before,
.skills::after {
  content: "";
  position: absolute;
  width: 20em;
  height: 20em;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 50%;
}
.skills::before {
  left: -10em;
  bottom: 0;
}
.skills::after {
  right: -10em;
  top: 8em;
  background: #f953c6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b91d73,
    #f953c6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b91d73,
    #f953c6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.skill_box {
  flex-wrap: wrap;
}
.skill_box .box {
  margin: 2em 2em;
  width: 15em;
  height: 12em;
  background: var(--bg-dark);
  background: rgba(255, 255, 255, 0.089);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.068);
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.skill_box .box::before {
  content: "";
  position: absolute;
  background: var(--secondary-color);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform-origin: bottom;
  transform: scaleY(0.03);
  transition: all 0.3s;
}
.skill_box .box:hover::before {
  transform: scaleY(1);
}
.skill_box .box i {
  margin-bottom: 0.1em;
}
.skill_head {
  font-size: 6em;
  font-family: var(--font);
}

/* ---------- projects ---------- */
.projects {
  width: 100%;
  padding: 2em 0;
  position: relative;
  flex-direction: column;
  background: #1a1a1a;
  overflow-x: hidden;
}
.projects::before,
.projects::after {
  content: "";
  position: absolute;
  width: 20em;
  height: 20em;
  background: #f953c6; 
  background: -webkit-linear-gradient(
    to right,
    #b91d73,
    #f953c6
  ); 
  background: linear-gradient(
    to right,
    #b91d73,
    #f953c6
  ); 
  border-radius: 50%;
}
.projects::before {
  left: -10em;
  bottom: 0;
}
.projects::after {
  right: -10em;
  top: 8em;
  background: #8e2de2; 
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); 
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); 
}
.projects .project_heading {
  margin-bottom: 0.4em;
  font-size: 6em;
  font-family: var(--font);
}
.projects .container {
  width: 100%;
  flex-wrap: wrap;
  z-index: 1;
}
.projects .container .main_box {
  width: 35em;
  height: 12em;
  margin: 0.5em 2em;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.116);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.199);
}
.projects .container .main_box .icon {
  width: 2em;
  height: 150px;
  margin-left: 0.1em;
  font-size: 8em;
}
.projects .container .main_box .box {
  width: 20em;
  margin-left: 0.8em;
  padding-right: 0.5em;
}
.projects .container .main_box .box :is(h1, p) {
  margin-bottom: 0.5em;
}
.projects .container .main_box .box p{
  opacity: 0.6;
}
.projects .container .main_box .box .links a {
  color: var(--light-color);
  text-decoration: none;
  margin-right: 0.4em;
  transition: all 0.4s;
}
.projects .container .main_box .box .links a i {
  margin-left: 0.4em;
  transition: all 0.4s;
}
.projects .container .main_box .box .links a:hover {
  color: var(--secondary-color);
}
.projects .container .main_box .box .links a:hover i {
  transform: translateX(0.2em);
  color: var(--secondary-color);
}
#particles-js2 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

/* ---------- footer ---------- */
footer{
    width: 100%;
    padding: 3em 0;
    flex-direction: column;
    background: #1a1a1a;
}
footer .social_media_icons{
    margin-top: 1em;
}
footer .social_media_icons a{
    margin: 0 .8em;
    border-radius: 50px;
}
footer .social_media_icons a i{
    font-size: 1.8em;
    padding: 0.2em;
    transition: color 0.4s;
}
footer .social_media_icons a:hover i{
    font-size: 1.8em;
    padding: 0.2em;
    color: rgba(54, 54, 54, 0.966);
}


/* --------- toggle ---------- */
.toggle{
  width: 200px;
  height: 200px;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  background: rgba(20, 20, 20, 0.178);
  position: fixed;
  top: 250px;
  right: 10px;
  z-index: 100;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all .4s;
}
.toggle .box a{
  flex-direction: column;
  text-decoration: none;
}
.toggle .box a i{
  font-size: 18px;
}
.toggle .box a p{
  font-size: 12px;
  margin-top: 8px
}
.toggle .box:nth-child(2){
  width: 100%;
  justify-content: space-evenly;
}
.toggle .box input{
  width: 40px;
  height: 40px;
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 10px;
  background: rgb(31, 31, 31);
  border: 6px solid rgba(255, 255, 255, 0.459);
}
.toggle.active .box input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.toggle.active{
  width: 50px;
  height: 50px;
  overflow: hidden;
}
/* ---------- Media Query ---------- */
@media (max-width: 1120px) {
  #main .user_img img {
    width: 25em;
    height: 25em;
  }
  .skills {
    height: 100%;
    padding: 5em 0;
  }
  .about {
    flex-direction: column;
  }
  .about div{
    width: 70%;
  }
}
@media (max-width: 900px) {
  .skills {
    height: 100%;
    padding: 5em 0;
  }
  .skill_box .box {
    margin: 2em .6em;
    width: 12em;
    height: 8em;
  }
  .skill_head {
    font-size: 5em;
    font-family: var(--font);
  }
  .about_heading {
    font-size: 5em;
    font-family: var(--font);
  }
  .projects .project_heading {
    margin-bottom: 0.4em;
    font-size: 5em;
    font-family: var(--font);
  }
}
@media (max-width: 700px) {
  body {
    font-size: 13px;
  }
  .skill_box .box{
    margin: 2em 0.5em;
    width: 12em;
    height: 8em;
  }
}
@media (max-width: 450px) {
  #main .user_img img{
    width: 20em;
    height: 20em;
  }
  .projects .container .main_box .icon{
    height: 100%;
    padding: 0.2em;
  }
  .projects .container .main_box {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2em 0.2em;
  }
}

@media (max-width: 350px) {
  body{
    font-size: 8px;
  }
}
/* overengeneered pure css action button */
/* UIVERSE CSS Challenge entry */
/* by kennyotsu <3 */

/* container wraps everything together, applies general styles and does nothing else*/
.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 200px;
  height: 200px;
  color: rgb(131, 131, 131);
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
  transform: translateY(20px);
}
  
  /* clickHandler, as the name suggests, handles clicks. 
	 Its a label for invisible checkbox, positioned absolutely and taking whole container space.
	 Comes with insane z-index. Stays above .container
	 When clicked, will change input state to checked */
#shuttle-wrapper {
  position: absolute;
  opacity: 0;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
  z-index: 200;
}

#b {
  width: 80px;
  height: auto;
  z-index: 200;
}

#shadow {
  position: absolute;
  width: 100px;
  height: 80px;
  -webkit-transform: rotateX(45deg) rotateZ(45deg);
  transform: rotateX(45deg) rotateZ(45deg);
  bottom: -10px;
  z-index: -1;
  background: radial-gradient(rgba(0, 0, 0, 0.382) 0%, rgba(0, 0, 0, 0) 70%);
}

#clickHandler {
  display: block;
  position: absolute;
  inset: 0;
  z-index: 999;
}

#clickHandler:hover {
  cursor: pointer;
}

.container:hover #shuttle-wrapper {
  opacity: 1;
  -webkit-transform: translateY(-100px) translateZ(140px);
  -ms-transform: translateY(-100px) translateZ(140px);
  transform: translateY(-100px) translateZ(140px);
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

#checkbox {
	/* comment out to actually see the checkbox state */
  display: none;
	/*  */
  position: absolute;
  bottom: 0px;
  width: 200px;
}
  
  /* this pseudo-selectors will fire animations when 
	 clickHandler changes checkbox state to checked */
#checkbox:checked ~ #shuttle-wrapper #b {
  -webkit-animation-name: launch_31;
  animation-name: launch_31;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
}

#checkbox:checked ~ #shuttle-wrapper #shadow {
  -webkit-animation: shadow-launch 6s ease-in-out;
  animation: shadow-launch 6s ease-in-out;
}

#checkbox:checked ~ #to-hover {
  -webkit-animation-name: fadeout_010;
  animation-name: fadeout_010;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
}

#checkbox:checked ~ #button #to-launch {
  -webkit-animation-name: fadeout_010;
  animation-name: fadeout_010;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
}
  /* and this will take care of hover */
#clickHandler:hover ~ #button {
  width: 200px;
  height: 200px;
  -webkit-transform: translate3d(0px, -16px, 0px) rotateX(51deg) rotateZ(43deg);
  transform: translate3d(0px, -16px, 0px) rotateX(51deg) rotateZ(43deg);
  -webkit-box-shadow: 2px 2px 0 2px #b2b2b2, -1px 0 28px 0 rgba(255, 250, 225, 0.512),
  28px 28px 28px 0 rgba(28, 27, 88, 0.315);
  box-shadow: 2px 2px 0 2px #b2b2b2, -1px 0 28px 0 rgba(255, 250, 225, 0.512),
  28px 28px 28px 0 rgba(28, 27, 88, 0.315);
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}

.container:hover {
  -webkit-transform: translateY(30%);
  -ms-transform: translateY(30%);
  transform: translateY(30%);
}

#to-launch {
  color: rgb(1, 85, 255);
  font-size: large;
  font-weight: bold;
  -webkit-transition: ease-out 200ms;
  transition: ease-out 200ms;
}

#to-hover {
  margin-top: 1em;
  text-align: center;
  -webkit-transition: ease-out 200ms;
  transition: ease-out 200ms;
}

#tag {
  opacity: 0;
  color: rgb(43, 43, 43);
  position: absolute;
}

#platform {
  position: absolute;
  width: 70%;
  height: 0;
  border-radius: 16px;
  background-color: rgb(234, 234, 234);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms;
  border: solid 0px rgba(42, 42, 42, 0);
  outline: dashed rgba(255, 173, 57, 0);
  -moz-outline-radius: 16px;
  outline-width: 0px;
  outline-offset: 0px;
}

#clickHandler:hover ~ #button #platform {
  height: 70%;
  background: rgb(244, 244, 244);
  border: solid 4px rgb(42, 42, 42);
  outline: dashed rgb(255, 172, 57);
  outline-width: 4px;
  outline-offset: -4px;
  -webkit-animation: shake_010 80ms infinite;
  animation: shake_010 80ms infinite;
}

.caution {
  -webkit-transform: translateY(-200);
  -ms-transform: translateY(-200);
  transform: translateY(-200);
  position: absolute;
  width: 100%;
  text-align: center;
}

#checkbox:checked ~ .caution {
  -webkit-animation-name: fadeout_010;
  animation-name: fadeout_010;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
}

#caution-left {
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
  opacity: 0;
  -webkit-transform: translate3d(83px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  transform: translate3d(83px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
}

#caution-right {
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
  opacity: 0;
  -webkit-transform: translate3d(0px, 62px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  transform: translate3d(0px, 62px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

#clickHandler:hover ~ #button .caution #caution-left {
  opacity: 1;
  -webkit-transition: 400ms ease-in;
  transition: 400ms ease-in;
  animation: glow_010 1.2s infinite;
}

#clickHandler:hover ~ #button .caution #caution-right {
  opacity: 1;
  -webkit-transition: 400ms ease-in;
  transition: 400ms ease-in;
  animation: glow_010 1.2s infinite;
}

#button {
  width: 200px;
  height: 80px;
  border: none;
  border-radius: 1.8rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-box-shadow: 5px 5px 8px 0 rgba(28, 27, 88, 0.315);
  box-shadow: 5px 5px 8px 0 rgba(28, 27, 88, 0.315);
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ececec));
  background: linear-gradient(125deg, #ffffff 50%, #f5f5ff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: inherit;
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}

#clickHandler:hover ~ #button #to-launch {
  opacity: 0;
}

#clickHandler:hover ~ #to-hover {
  opacity: 0;
}

#checkbox:checked ~ #button #tag {
  -webkit-animation: tag-transition 5s ease-in-out;
  animation: tag-transition 5s ease-in-out;
}
  
  /* launch sequence, takes only 20% of duration to completely fade out,
	 and stays there til 90% */

@keyframes launch_31 {
  5% {
    opacity: 1;
  }

  15%, 90% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shadow-launch {
  0% {
    opacity: 1;
  }

  10%, 90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout_010 {
  100% {
    opacity: 1;
  }

  0%, 20%, 90% {
    opacity: 0;
  }
}

@keyframes shake_010 {
  0%, 50% {
    -webkit-transform: translate3d(1px, 0px, 0px);
    transform: translate3d(1px, 0px, 0px);
  }

  100% {
    -webkit-transform: translate3d(0px, 1px, 0px);
    transform: translate3d(0px, 1px, 0px);
  }
}

@keyframes glow_010 {
  0% {
    color: rgb(94, 94, 94);
    -webkit-filter: drop-shadow(0 0 0.75rem rgb(255, 214, 90));
    filter: drop-shadow(0 0 0.75rem rgb(255, 214, 90));
  }

  70% {
    color: rgba(255, 255, 255, 0);
  }

  100% {
    color: rgb(94, 94, 94);
    -webkit-filter: drop-shadow(0 0 0.75rem rgb(255, 214, 90));
    filter: drop-shadow(0 0 0.75rem rgb(255, 214, 90));
  }
}

@keyframes tag-transition {
  0%, 100% {
    opacity: 0;
  }

  20%, 80% {
    opacity: 1;
  }
}

.noselect {
  -webkit-touch-callout: none;
   /* iOS Safari */
  -webkit-user-select: none;
   /* Safari */
   /* Konqueror HTML */
  -moz-user-select: none;
   /* Old versions of Firefox */
  -ms-user-select: none;
   /* Internet Explorer/Edge */
  user-select: none;
   /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}
